---

---

<header class="text-white flex flex-row items-center p-4">
    <div class="mr-8 text-xl font-semibold">
        <a class="flex items-center" href="/">
            <img src="/quackhost.webp" alt="QuackHost Logo" class="h-8 w-8 mr-1" loading="eager" />
            QuackHost
        </a>
    </div>
    <div class="flex grow justify-between text-sm font-medium">
        <div class="flex gap-4">
            <a href="/pricing">
                <button>
                    Pricing
                </button>
            </a>
            <a href="/discord-flock">
                <button>
                    Discord Flock
                </button>
            </a>
            <a href="/guides-&-tutorials">
                <button>
                    Guides & Tutorials
                </button>
            </a>
        </div>
        <div class="flex gap-4">
            <a href="/">
                <button>
                    Log in
                </button>
            </a>
            <a href="/">
                <button>
                    Get Started
                </button>
            </a>
        </div>
    </div>
</header>
