---

---

<header class="text-white flex flex-row items-center p-4">
    <div class="mr-8 text-xl font-semibold">
        <a class="flex items-center" href="/" aria-label="Home">
            <img src="/quackhost.webp" alt="QuackHost Logo" class="h-8 w-8 mr-1" loading="eager" />
            QuackHost
        </a>
    </div>
    <div class="flex items-center grow justify-between font-medium">
        <div class="flex space-x-2 text-gray-50">
            <a href="/pricing" aria-label="Pricing Page">
                <button class="hover:bg-zinc-800 hover:text-white px-2 py-1 rounded-md">
                    Pricing
                </button>
            </a>
            <a href="/discord-flock" aria-label="Discord Server">
                <button class="hover:bg-zinc-800 hover:text-white px-2 py-1 rounded-md">
                    Discord Flock
                </button>
            </a>
            <a href="/guides-&-tutorials" aria-label="Guides and Tutorials">
                <button class="hover:bg-zinc-800 hover:text-white px-2 py-1 rounded-md">
                    Guides & Tutorials
                </button>
            </a>
        </div>
        <div class="flex space-x-4 text-white">
            <a href="/" aria-label="Log in button">
                <button class="px-4 py-1 rounded-md hover:bg-zinc-800">
                    Log in
                </button>
            </a>
            <a href="/" aria-label="Get Started with QuackHost">
                <button class="px-4 py-1 rounded-md border hover:bg-zinc-800">
                    Get Started
                </button>
            </a>
        </div>
    </div>
</header>
