---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Header from "../components/Header.astro";
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/webp" href="/favicon.webp"/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="sitemap" href="/sitemap-index.xml" />
	</head>
	<body>
	<Header />
		<slot />
	</body>
</html>

<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background: #1e1f22;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
